/*Limpar formatações padrão*/

*{
    margin: 0;
    padding: 0;
}
body{
    
    background: white;
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;  
}

/*  **** Layout ****  */

#cabecalho{
    text-align: center;
    background: rgb(254, 205, 3);
    padding: 15px;
  
}
#logo, #menu { 
    padding: 10px;
}
#noticias{
   padding: 15px;
   width: 920px;
   margin: 0 auto; 
}
#menu-lateral{  
}
#postagens{
   
    width: 660px;
    float: left;
}
#menu-lateral{ 
    width: 240px;  
    float: right; 
}
.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}
.postagem-lateral{

}
.postagem{
    background: white;
    padding: 20px; 
    margin-bottom: 20px;     

}
#rodape{
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}

/*  **** Formatação do menu ****  */

a{
    font-weight: bolder;
    text-decoration: none;     
}
a:link , a:visited{
    color: rgb(254, 205, 3);        
}
a:hover{
    text-decoration: underline;  
}
a:active{
    color: black;
}
#cabecalho a:link , #cabecalho a:visited{
    color: white;
    padding: 8px 12px;     
}
#cabecalho a:hover{
    background: white;
    color: rgb(254, 205, 3);
    text-decoration: none; 
}
#cabecalho a:active{
    color: black;
}

/*  **** Formatações em geral ****  */

h1{
    color: rgb(36, 36, 36);
    font-size: 2.5em; 
}
h2{
    color: rgb(254, 205, 3);
    font-size: 1.5em;
}
h3{
    background: #CCC;
    padding: 5px;
    color: gray;
}
.branco{
    color:white;
    font-size: 1.1em;  
}
.botao-noticias{
    color: black;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    
}
span{
    font-size: 0.8em; 
    padding-bottom: 10px;
    margin-bottom: 10px;   
}
p{
   margin-left: 0;    
}
.parag{
    margin-left: 5px;   
}


